<div class="card">
    <div class="card-header">
        <h3>Rechercher un individu</h3>
    </div>
    <div class="card-body form">
        <div *ngIf="this.nam.value && this.estInconnu" 
            class="row">
            <div class="cold-md-6">
                <span>Le NAM est inconnu</span>
            </div>
        </div>
        <div class="mb-3 w-25">
            <div class="">
                <label for="nam" class="form-label">Numéro d'assurance maladie :</label>
                <input 
                    class="form-control"
                    type="text"
                    value="{{nam.value}}"
                    [formControl]="nam"
                    id="nam">
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!this.nam.value" (click)="rechercherNam()">Rechercher</button>
    </div>
</div>