<div class="container row">
    <h1>Créer un projet</h1>
    <button *ngIf="this.nouveauProjet.participants.length == 0 || this.nouveauProjet.participants.length < 2"
            class="btn btn-primary col-md-2"
            [routerLink]="['/ajouter-participant']">Ajouter un participant</button>
    <div *ngIf="this.messagesErreurs.length > 0">
        <div *ngFor="let erreur of this.messagesErreurs"
             class="row">
            <div class="col-md-12">
                <span>{{erreur}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let participant of this.nouveauProjet.participants"
             class="card col-md-6">
            <div class="card-header">
                <h3>{{participant.individu.nom}} {{participant.individu.prenom}}</h3>
            </div>
            <div class="card-body">
                <section class="row">
                    <div class="col-md-6"><label>Numéro d'assurance maladie : {{participant.individu.nam}}</label></div>
                    <div class="col-md-6"><label>Date de naissance : {{participant.individu.dateNaissance | date: "yyyy-MM-dd"}}</label></div>
                </section>
                <form class="form-group">
                    <div class="mb-3 form-check">
                        <input type="checkbox" 
                               class="form-check-input" 
                               disabled
                               [checked]="participant.ASterilisationVolontaire" id="checkboxSterilisationVolontaire">
                        <label class="form-check-label" for="checkboxSterilisationVolontaire">A subit une stérilisation
                            volontaire</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" disabled [checked]="participant.aIncapaciteReproduire"
                            id="checkboxIncapaciteReproduire">
                        <label class="form-check-label" for="checkboxIncapaciteReproduire">A une incapacité à se reproduire</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" disabled
                            [checked]="participant.aRecuDiagnostiqueInfertilite" id="checkboxDiagnostiqueFertilite">
                        <label class="form-check-label" for="checkboxDiagnostiqueFertilite">A un diagnostique
                            d'infertilité</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="this.nouveauProjet.participants.length == 1 || this.nouveauProjet.participants.length == 2">
        <button class="btn btn-primary"
                (click)="surCreerProjetClick()">
            Créer le projet
        </button>
    </div>
</div>
