<div class="container">
    <usine-rechercher-nam *ngIf="!individu" (individuEventEmitter)="obtenirIndividu($event)"></usine-rechercher-nam>
    <div class="card" *ngIf="individu">
        <div class="card-header">
            <h3>{{individu.nom}} {{individu.prenom}}</h3>
        </div>
        <div class="card-body">
            <section class="row">
                <div class="col-md-6"><label>Numéro d'assurance maladie : {{individu.nam}}</label></div>
                <div class="col-md-6"><label>Date de naissance : {{individu.dateNaissance | date: "yyyy-MM-dd"}}</label></div>
            </section>
            <form class="form-group"
                  [formGroup]="conditionsMedicales"
                  (ngSubmit)="onAjoutParticipant()">
                <div class="mb-3 form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox" 
                        formControlName="aSubitSterilisationVolontaire"
                        id="checkboxSterilisationVolontaire">
                    <label class="form-check-label" for="checkboxSterilisationVolontaire">A subit une stérilisation volontaire</label>
                </div>
                <div class="mb-3 form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox"
                        formControlName="aDiagnostiqueInfertilite" 
                        id="checkboxDiagnostiqueFertilite">
                    <label class="form-check-label" for="checkboxDiagnostiqueFertilite">A un diagnostique d'infertilité</label>
                </div>
                <div class="mb-3 form-check">
                    <input class="form-check-input" type="checkbox" formControlName="aIncapaciteReproduire"
                        id="checkboxIncapaciteReproduire">
                    <label class="form-check-label" for="checkboxIncapaciteReproduire">A une incapacité à se reproduire</label>
                </div>
                <button class="btn btn-primary" type="submit">Ajouter le participant</button>
            </form>
        </div>
    </div>
</div>
