<div class="card col-md-6">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">{{participant.individu.nom}}</div>
            <div class="col-md-6">{{participant.individu.prenom}}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{participant.individu.nam}}</div>
            <div class="col-md-6">{{participant.individu.dateNaissance | date: "yyyy-MM-dd"}}</div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" class="form-check-input" disabled
                        [checked]="participant.ASterilisationVolontaire" id="checkboxSterilisationVolontaire">
                    <label class="form-check-label" for="checkboxSterilisationVolontaire">A subit une stérilisation
                        volontaire</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" class="form-check-input" disabled
                        [checked]="participant.aIncapaciteReproduire" id="checkboxIncapaciteReproduire">
                    <label class="form-check-label" for="checkboxIncapaciteReproduire">A une incapacité à se
                        reproduire</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="checkbox" class="form-check-input" disabled
                        [checked]="participant.aRecuDiagnostiqueInfertilite" id="checkboxDiagnostiqueFertilite">
                    <label class="form-check-label" for="checkboxDiagnostiqueFertilite">A un diagnostique
                        d'infertilité</label>
                </div>
            </div>
        </div>
    </div>
</div>
