<div class="header">
    <p>Usine à bébés</p>
</div>
<div class="menu-cote">
    <ul>
        <li>Futur menu 1</li>
        <li>Futur menu 2</li>
    </ul>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>