.header {
    padding: 30px;
    text-align: center;
    background-color:rgb(176, 180, 192); 
    color: white;
    font-size: 30 px;
}

.menu-cote{
    padding-right: 60px;
    background-color: brown;
    float: left;
    height: 100%;
}

.content{
    padding: 50px;
}