<div class="container">
    <div class="row">
        <div *ngFor="let participant of this.projet?.participants">
            <usine-consulter-participants [participant]="participant"></usine-consulter-participants>
        </div>
    </div>
</div>
